.app {
    background-image: url("../Icons/background.jpg");
    min-height: 100vh;
    background-size: auto 130vh;
    background-position-x: right;
}

.app-content {
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.date-block {
    position: absolute;
}

.date {
    padding-left:36px;
    padding-top:8px;
    
    position: relative;
}

.date-time {
    font-size: 30px;
}

.date-formatted {
    font-weight: bold;
}

.icon-bar {
    display: flex;
    margin: 16px;
}

.icon-bar-icon {
    height: 64px;
    width: 64px;
    margin-left: 8px;
    margin-right: 8px;
}

.reddit-content {
    background: #49505f;
    margin: 4px 0px 4px 0px;
    padding: 4px 8px 4px 8px;
    flex-grow: 1;
    border: 1px solid #6b7586;
}

.reddit-content a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}

.sidepanel {
    height: 100%;
    width:400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #383e4b;
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 1px solid #6b7586;
}

.sidepanel-content {
    color: #818b9e;
    padding: 0px 28px 8px 8px;
}

.sidepanel-content input {
    width: 159px;
    height: 32px;
    border: 1px solid #6b7586;
    margin-right:4px;
    background-color: #49505f;
    font-size: 16px;
    color: white;
    text-align: center;
}

.sidepanel-content input:focus {
    border: 1px solid #454c58;
    text-decoration: none;
    outline: #454c58;
}

.sidepanel-content-button {
    width: 32px;
    min-width: 32px;
    border: 1px solid #6b7586;
    margin-right:4px;
    background-color: #49505f;
    font-size: 20px;
    color: white;
    text-align: center;
}

.sidepanel-content-link-button {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border: 1px solid #6b7586;
    margin-right:4px;
    background-color: #49505f;
    font-size: 20px;
    margin: 4px 0px 4px 4px;
    color: white;
    text-align: center;
}

.sidepanel-link-input {
    margin-bottom: 4px;
    display:flex;
}

.sidepanel-expander {
    width:20px;
    position: absolute;
    height: 100%;
    right: 0;
    border-left: 1px solid #6b7586;
    background: #6b7586;
}

.sidepanel-expander:hover {
    cursor: pointer;
    background: #7c8596;
}

.search-bar {
    width: 35vw;
    min-width: 464px;
    max-width: 90vw;
    display: flex;
}

.search-bar-icon {
    width: 5vw;
    min-width: 64px;
    max-width:90vw;
    height: 32px;
    border-left: 1px solid #6b7586;
    border-top: 1px solid #6b7586;
    border-bottom: 1px solid #6b7586;
    margin-top:6px;
    background-color: #49505f;
}

.search-bar-icon:hover {
    cursor: pointer;
    background: #7c8596;
}

.search-bar-icon img {
    height: 28px;
}

.search-bar-search {
    height:30px;
    width: 30vw;
    min-width: 400px;
    max-width:90vw;
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: #49505f;
    border: 1px solid #6b7586;
    padding-left: 8px;
}

.search-bar-search::placeholder {
    color: #818b9e;
}

.search-bar-search:focus {
    border-left: 1px solid #6b7586;
    border-right: 1px solid #454c58;
    border-top: 1px solid #454c58;
    border-bottom: 1px solid #454c58;
    text-decoration: none;
    outline: #454c58;
}

.weather {
    padding-right:16px;
    padding-top:8px;
    position: absolute;
    right: 0px;
    top:0px;
}

.weather-current-primary {
    font-size: 30px;
    margin-right:4px;
}

.weather-primary-icon {
    height: 32px;
    width: 32px;
    margin-bottom: -4px;
    margin-left: 4px;
}

.weather-current-secondary {
    padding-top: 5px;
    font-weight: bold;
}

@media only screen and (max-width: 420px) {
    .icon-bar-icon {
        height: 46px;
        width: 46px;
    }

    .search-bar {
        width: 35vw;
        min-width: 90vw;
    }

    .search-bar-icon {
        width: 5vw;
        min-width: 10vw;
        height: 40px;
        margin-top:1px;
    }

    .search-bar {
        width: 5vw;
        min-width: 90vw;;
    }
    
    .search-bar-search {
        width: 75vw;
        min-width: 0px;
    }
}