.app {
    background-color: #383e4b;
    min-height: 100vh;
}

.app-header {
    display: flex;
    width: 100vw;
}

.app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.app-content {
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.date {
    padding-left:16px;
    padding-top:8px;
    position: relative;
}

.date-time {
    font-size: 30px;
    color: #818b9e;
}

.date-formatted {
    color: #818b9e;
}

.App-link {
    color: #61dafb;
}

.search-bar-search {
    height:30px;
    width: 40vw;
    min-width: 464px;
    max-width:90vw;
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: #49505f;
    border-color: #6b7586;
    border-width: 1px;
    border-style: solid;
    padding-left: 8px;
}

.search-bar-search::placeholder {
    color: #818b9e;
}

.search-bar-search:focus {
    border-color: #454c58;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    outline: #454c58;
}

.icon-bar {
    display: flex;
    margin: 16px;
}

.icon-bar-icon {
    height: 64px;
    width: 64px;
    margin-left: 8px;
    margin-right: 8px;
}

.weather {
    padding-right:16px;
    padding-top:8px;
    position: absolute;
    right: 0px;
    top:0px;
}

.weather-current-primary {
    font-size: 30px;
    color: #818b9e;
    margin-right:4px;
}

.weather-primary-icon {
    height: 32px;
    width: 32px;
    margin-bottom: -4px;
    margin-left: 4px;
}

.weather-current-secondary {
    padding-top: 5px;
    color: #818b9e;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 420px) {
    .icon-bar-icon {
        height: 46px;
        width: 46px;
    }

    .search-bar-search {
        width: 90vw;
        min-width: 0px;
    }
  }