.app {
    background-color: #383e4b;
    min-height: 100vh;
}

.app-header {
    display: flex;
    width: 100vw;
}

.app-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.app-content {
    height: 90vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.date-block {
    position: absolute;
}

.date {
    padding-left:16px;
    padding-top:8px;
    position: relative;
}

.date-time {
    font-size: 30px;
    color: #818b9e;
}

.date-formatted {
    color: #818b9e;
}

.App-link {
    color: #61dafb;
}

.search-bar {
    width: 35vw;
    min-width: 464px;
    max-width: 90vw;
    display: flex;
}

.search-bar-icon {
    width: 5vw;
    min-width: 64px;
    max-width:90vw;
    height: 32px;
    border-left-color: #6b7586;
    border-left-width: 1px;
    border-left-style: solid;
    border-top-color: #6b7586;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-color: #6b7586;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top:6px;
    background-color: #49505f;
}

.search-bar-icon img {
    height: 28px;
}

.search-bar-search {
    height:30px;
    width: 30vw;
    min-width: 400px;
    max-width:90vw;
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: #49505f;
    border-color: #6b7586;
    border-width: 1px;
    border-style: solid;
    padding-left: 8px;
}

.search-bar-search::placeholder {
    color: #818b9e;
}

.search-bar-search:focus {
    border-color: #454c58;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    outline: #454c58;
}

.icon-bar {
    display: flex;
    margin: 16px;
}

.icon-bar-icon {
    height: 64px;
    width: 64px;
    margin-left: 8px;
    margin-right: 8px;
}

.reddit {
    color: #818b9e;
    padding: 8px;
}

.reddit-content {
    background: #49505f;
    margin: 8px 0px 8px 0px;
    padding: 8px;
    border: 1px solid #6b7586;
}

.reddit-content a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: white;
}

.sidepanel {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #383e4b;
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 1px solid #6b7586;
}

.sidepanel-expander {

}

.weather {
    padding-right:16px;
    padding-top:8px;
    position: absolute;
    right: 0px;
    top:0px;
}

.weather-current-primary {
    font-size: 30px;
    color: #818b9e;
    margin-right:4px;
}

.weather-primary-icon {
    height: 32px;
    width: 32px;
    margin-bottom: -4px;
    margin-left: 4px;
}

.weather-current-secondary {
    padding-top: 5px;
    color: #818b9e;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 420px) {
    .icon-bar-icon {
        height: 46px;
        width: 46px;
    }

    .search-bar {
        width: 35vw;
        min-width: 90vw;
    }

    .search-bar-icon {
        width: 5vw;
        min-width: 10vw;
        height: 40px;
        margin-top:1px;
    }

    .search-bar {
        width: 5vw;
        min-width: 90vw;;
    }
    
    .search-bar-search {
        width: 75vw;
        min-width: 0px;
    }
}